
Normanet_web/.vs/Normanet_web/config/applicationhost.config

Normanet_web/.vs/Normanet_web/v16/.suo

Normanet_web/Normanet_app/obj/Debug/Normanet_app.vbprojAssemblyReference.cache

Normanet_web/Normanet_app/obj/Debug/Normanet_app.pdb
