.ui-cuenta-regresiva {
    top: 7px;
    position: absolute;
    display: none;
    right: 20px;
    font-family:Tahoma,Arial;
    font-size:11px;   
    text-align: center;
    padding: 1px 0px 1px 0px;
    width: 180px;
    height: 20px;
    filter:alpha(opacity=100);
    background-image: none;
    vertical-align: middle;
    color: #000000;
    z-index: 200;
    border-bottom: #99ccff 0px solid;
    border-left: #99ccff 0px solid;
    border-top: #99ccff 0px solid;
    border-right: #99ccff 0px solid;
}